html
  head
    title ES6-Blockchain explorer
    meta(charset='UTF-8')
    link(rel='stylesheet' href='explorer/build/css/style.css')
  body
    nav.menu
      .menu__logo ES6-Blockchain explorer
      ul.menu__buttons
        li.button Dashboard
        li.button Blocks
        li.button Addresses
        input.menu__searchbar(type='text' placeholder='Search specified block index')
    section.dashBoard#dashBoard
      .recentBlocks
        .recentBlocks__title Recent blocks
        recent-blocks-table
      blockchain-stats
    script(src='explorer/build/js/axios.min.js')
    script(src='explorer/build/js/vue.js')
    script(src='explorer/build/js/index.js')